@page
@model Client3_API.Pages.Ventes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vente.Annee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vente.Annee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vente.Nbr_vente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vente.Nbr_vente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vente.Revenu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vente.Revenu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vente.Pays)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vente.Pays)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vente.Console)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vente.Console.Fabricant)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-info" asp-page="./Edit" asp-route-id="@Model.Vente.Id" title="Modifier"><i class="fa-solid fa-pen"></i></a> |
    <a asp-page="./Index" class="back-to-list-link" style="color: blue; text-decoration: none;"> <i class="fas fa-arrow-left"></i>Back to List</a>
    </br>
    
</div>
