@page
@model Client3_API.Pages.Ventes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VenteWithConsoleNom[0].vente.Annee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VenteWithConsoleNom[0].vente.Nbr_vente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VenteWithConsoleNom[0].vente.Revenu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VenteWithConsoleNom[0].vente.Pays)
            </th>
            <th>
                Console
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.VenteWithConsoleNom)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.vente.Annee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vente.Nbr_vente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vente.Revenu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vente.Pays)
                </td>
                <td>
                    @item.ConsoleNom
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.vente.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.vente.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.vente.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
