@page
@model Client3_API.Pages.Ventes.IndexModel

@{
    ViewData["Title"] = "Index";
}


<h2 style="font-family: 'Bodoni MTsplay',serif; font-size: 40px; font-weight:bold; font-style:italic;">Consoles sales</h2>


<p>
    <a class="btn custom-button" style=" background-color:  #333; color: white;" asp-page="Create" title="Ajouter une vente de console"><i class="fas fa-plus"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VenteWithConsoleNom[0].vente.Annee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VenteWithConsoleNom[0].vente.Nbr_vente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VenteWithConsoleNom[0].vente.Revenu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VenteWithConsoleNom[0].vente.Pays)
            </th>
            <th>
                Console
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.VenteWithConsoleNom)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.vente.Annee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vente.Nbr_vente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vente.Revenu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vente.Pays)
                </td>
                <td>
                    @item.ConsoleNom
                </td>
                <td>
                    <a class="btn btn-info" asp-page="./Edit" asp-route-id="@item.vente.Id" title="Modifier"><i class="fa-solid fa-pen"></i></a> |
                    <a class="btn btn-secondary" asp-page="./Details" asp-route-id="@item.vente.Id" title="Détails"><i class="fa-regular fa-eye"></i></a> |
                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.vente.Id" title="Supprimer" style="color:black"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
