@page
@model Client3_API.Pages.Consoles.IndexModel

@{
    ViewData["Title"] = "Index";
}


<h2 style="font-family: 'Bodoni MTsplay',serif; font-size: 40px; font-weight:bold; font-style:italic;">Consoles</h2>

<p>
    <a class="btn custom-button" style=" background-color:  #333; color: white;" asp-page="Create" title="Creer une Console"><i class="fas fa-plus"></i></a>
</p>
<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameConsole[0].Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameConsole[0].Fabricant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameConsole[0].Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.GameConsole) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fabricant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                        <a class="btn btn-info" asp-page="./Edit" asp-route-id="@item.Id" title="Modifier" ><i class="fa-solid fa-pen"></i></a> |
                        <a class="btn btn-secondary" asp-page="./Details" asp-route-id="@item.Id" title="Détails" ><i class="fa-regular fa-eye"></i></a> |
                        <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id" title="Supprimer" style="color:black"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>