@page
@model Client_API.Pages.Ventes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vente[0].Annee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vente[0].Nbr_vente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vente[0].Revenu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vente[0].Pays)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Vente) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Annee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nbr_vente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Revenu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pays)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
